body {
    --ToDoMD-suggestion-icon-height: 14px;
}

.ToDoMD-suggestion-item {
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    align-items: center;
}

.ToDoMD-suggestion-item > * {
    display: inline-block;
}

.ToDoMD-suggestion-icon {
    height: var(--ToDoMD-suggestion-icon-height);
    min-height: var(--ToDoMD-suggestion-icon-height);
    max-height: var(--ToDoMD-suggestion-icon-height);

    margin-right: 0.5ch;
    color: var(--ToDoMD-suggestion-color);
}

.ToDoMD-suggestion-text {
}

.ToDoMD-suggestion-placeholder {
    border-width: 1px 0 1px 0;
    border-style: solid;
}

.ToDoMD-settings-no-border {
    border: none;
}

.ToDoMD-settings-list-item {
    border-top: 1px solid grey;
    padding: 4px 0 0 0;
}

.ToDoMD-settings-error {
    border: 1px solid red !important;
}

.ToDoMD-suggestion-placeholder0 {
    border-color: lightskyblue;
}

/* These extra selectors enforce their color on all children, because CodeMirror does weird nesting of spans when
 nesting multiple decorations. */
span.ToDoMD-suggestion-placeholder0 span {
    border-color: lightskyblue;
}

.ToDoMD-suggestion-placeholder1 {
    border-color: orange;
}

span.ToDoMD-suggestion-placeholder1 span {
    border-color: orange;
}

.ToDoMD-suggestion-placeholder2 {
    border-color: lime;
}

span.ToDoMD-suggestion-placeholder2 span {
    border-color: lime;
}

.ToDoMD-suggestion-placeholder3 {
    border-color: pink;
}

span.ToDoMD-suggestion-placeholder3 span {
    border-color: pink;
}

.ToDoMD-suggestion-placeholder4 {
    border-color: cornsilk;
}

span.ToDoMD-suggestion-placeholder4 span {
    border-color: cornsilk;
}

.ToDoMD-suggestion-placeholder5 {
    border-color: magenta;
}

span.ToDoMD-suggestion-placeholder5 span {
    border-color: magenta;
}

.ToDoMD-suggestion-placeholder6 {
    border-color: navajowhite;
}

span.ToDoMD-suggestion-placeholder6 span {
    border-color: navajowhite;
}
